<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Birdbath</title>
    <link rel="stylesheet" href="main.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <script src="js/angular.js"></script>
    <script src="js/angular-route.js"></script>
</head>
<body ng-app="birdbathApp">
    <div class="container" ng-controller="TweetCtrl as vm">
        <h1>Birdbath</h1>
        <h2>Clean your twitter history</h2>
        <p>Logged in as <strong>@{{ vm.tweets[0].user.screen_name }}</strong></p>
        <div class="tweetRow"
             ng-repeat="tweet in vm.tweets"
             ng-init="author = tweet.retweeted ? tweet.retweeted_status.user : tweet.user"
             ng-keyup="vm.keyPress($event)"
             tabindex="0">

            <div id="deleteButton" ng-click="vm.delete()">
                <h3>D</h3>
                <p>Delete</p>
            </div>
            <div class="tweet">
                <img ng-src="{{author.profile_image_url}}" class="img-circle">
                <div class="authorContainer">
                    <p>{{author.name}}  <small>@{{author.screen_name}}</small></p>
                </div>
                {{ tweet.text }}
            </div>
            <div id="keepButton" ng-click="vm.keep()">
                <h3>K</h3>
                <p>Keep</p>
            </div>
        </div>

    </div>
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
</body>
</html>