html {
    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    background-color: aqua;
}

.container {
    width: 70%;
    max-width: 1200px;
    margin: 0 auto;
}

.tweetRow {
    display: flex;
    flex-direction: row;
}

.tweet {
    background-color: white;
    font-size: 18px;
    flex: 3;
    margin: 1em 0;
    padding: 1em;
}

#keepButton, #deleteButton {
    flex: 1;
    align-self: center;
    text-align: center;
}

img {
    float: left;
    margin-right: 1em;
}

button {
    padding: 2em;
    background-color: white;
    border: 0;
    font-size: 18px;
}