html {
    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    background-color: aqua;
}

.container {
    width: 70%;
    max-width: 1200px;
    margin: 0 auto;
}

.tweetRow>div {
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
}

.tweet {
    background-color: white;
    padding: 1em;
    font-size: 18px;
    margin: 1em 0;
    width: 55%;
}

#keepButton, #deleteButton {
    width: 20%;
    text-align: center;
}

img {
    float: left;
    margin-right: 1em;
}
